* {
    border: 0px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px dashed black;
    font-size: 100%;
}

html {
    max-width: 800px;
    font-size: 1.2rem;
}

button {
    width: 100%;
}